In [3]:
import re
name="Python is 1"
digitCount=re.sub("[^0-9]","", name)
print(len(digitCount))

1

In [4]:
n=5
for i in range(n):
    for j in range(n):
        print(end=" ")
    n=n-1
    for j in range(i+1):
        print("*", end=" ")
    print("")

     *
    * *
   * * *
  * * * *
 * * * * *

In [149]:
x = 24
temp=float(x)
print(temp)

24.0

In [91]:
def triangle(n):
    for i in range(0,n):
        for j in range(0,n):
            print(end=" ")
        n=n-1
        for j in range(0,i+1):
            print("*",end=" ")
        print("")
n=5
triangle(n)

     *
    * *
   * * *
  * * * *
 * * * * *

In [94]:
my_list=[27,54,82,12,18,79,48,10,2,90,8]
min=my_list[0]
for i in range(1,len(my_list)):
    if min<my_list[i]:
        pass;
    else:
        min=my_list[i]
print(min)

2

In [4]:
my_list=[27,54,82,12,18,79,48,10,2,90,8]
for i in range(len(my_list)):
        min_idx = i
        for j in range(i+1,len(my_list)):
            if my_list[j] < my_list[min_idx]:
                min_idx = j
        (my_list[i], my_list[min_idx]) = (my_list[min_idx], my_list[i])
        print(my_list)
print(my_list)

[2, 54, 82, 12, 18, 79, 48, 10, 27, 90, 8]
[2, 8, 82, 12, 18, 79, 48, 10, 27, 90, 54]
[2, 8, 10, 12, 18, 79, 48, 82, 27, 90, 54]
[2, 8, 10, 12, 18, 79, 48, 82, 27, 90, 54]
[2, 8, 10, 12, 18, 79, 48, 82, 27, 90, 54]
[2, 8, 10, 12, 18, 27, 48, 82, 79, 90, 54]
[2, 8, 10, 12, 18, 27, 48, 82, 79, 90, 54]
[2, 8, 10, 12, 18, 27, 48, 54, 79, 90, 82]
[2, 8, 10, 12, 18, 27, 48, 54, 79, 90, 82]
[2, 8, 10, 12, 18, 27, 48, 54, 79, 82, 90]
[2, 8, 10, 12, 18, 27, 48, 54, 79, 82, 90]
[2, 8, 10, 12, 18, 27, 48, 54, 79, 82, 90]

In [3]:
my_list=[27,54,82,12,18,79,48,10,2,90,8]
n=len(my_list)
for i in range(n):
    for j in range(n-i-1):
        if my_list[j]>my_list[j+1]:
            (my_list[j],my_list[j+1])=(my_list[j+1],my_list[j])
    print(my_list)
print(my_list)

[27, 54, 12, 18, 79, 48, 10, 2, 82, 8, 90]
[27, 12, 18, 54, 48, 10, 2, 79, 8, 82, 90]
[12, 18, 27, 48, 10, 2, 54, 8, 79, 82, 90]
[12, 18, 27, 10, 2, 48, 8, 54, 79, 82, 90]
[12, 18, 10, 2, 27, 8, 48, 54, 79, 82, 90]
[12, 10, 2, 18, 8, 27, 48, 54, 79, 82, 90]
[10, 2, 12, 8, 18, 27, 48, 54, 79, 82, 90]
[2, 10, 8, 12, 18, 27, 48, 54, 79, 82, 90]
[2, 8, 10, 12, 18, 27, 48, 54, 79, 82, 90]
[2, 8, 10, 12, 18, 27, 48, 54, 79, 82, 90]
[2, 8, 10, 12, 18, 27, 48, 54, 79, 82, 90]
[2, 8, 10, 12, 18, 27, 48, 54, 79, 82, 90]

In [169]:
class Employee:
    def __init__(self, Name, Id):
        self.Name=Name
        self.Id=Id
    def __str__(self):
        return f"Name={self.Name}\nId={self.Id}"
e1=Employee("Yanky", 1323799)
print(e1)

Name=Yanky
Id=1323799

In [189]:
class Vehicle:
    def __init__(self):
        pass;
    def move(self):
        print("Travel")

class Car:
    def __init__(self, Model, Brand):
        self.Model=Model
        self.Brand=Brand
    def move(self):
        print("Drive")

class Boat:
    def __init__(self, Model, Brand):
        self.Model=Model
        self.Brand=Brand
    def move(self):
        print("Sail")

class Airplane:
    def __init__(self, Model, Brand):
        self.Model=Model
        self.Brand=Brand
    def move(self):
        print("Fly")

v1=Vehicle()
c1=Car("Mustang", "Ford")
b1=Boat("Touring-20", "Ibiza")
a1=Airplane("747", "Boing")
for x in (c1,b1,a1):
    print(x.Brand)
    x.move()

Ford
Drive
Ibiza
Sail
Boing
Fly

In [190]:
str="Hello World"
n_str=str[::-1]
print(n_str)

dlroW olleH

In [198]:
my_list=[27,54,82,12,18,79,48,10,2,90,8]
n=len(my_list)
for i in range(n):
    for j in range(n-i-1):
        if my_list[j]>my_list[j+1]:
            my_list[j],my_list[j+1]=my_list[j+1],my_list[j]
print(my_list)

[2, 8, 10, 12, 18, 27, 48, 54, 79, 82, 90]

In [204]:
n=6
for i in range(n):
    for j in range(n):
        print(end=" ")
    n=n-1
    for j in range(i+1):
        print("*", end=" ")
    print("")

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [216]:
my_list=[27,54,82,12,18,79,48,10,2,90,8]
my_list.sort()
sort_list=my_list.copy()
print(sort_list)

[2, 8, 10, 12, 18, 27, 48, 54, 79, 82, 90]

In [218]:
x=lambda a,b:a+b
print(x(4,8))

12

In [223]:
class Plane:
    def __init__(self, Model, Brand):
        self.Model=Model
        self.Brand=Brand
    def __str__(self):
        return f"{self.Brand} {self.Model}"
p1=Plane(747, "Boing")
print(p1)

Boing 747

In [6]:
my_list=[27,54,82,12,18,79,48,10,2,90,8]
n=len(my_list)
for i in range(n):
    for j in range(n-i-1):
        if my_list[j]>my_list[j+1]:
            my_list[j],my_list[j+1]=my_list[j+1],my_list[j]
print(my_list)

[2, 8, 10, 12, 18, 27, 48, 54, 79, 82, 90]